<!DOCTYPE>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hacker News Clone</title>
    <meta name="description"
        content="The Hacker News Clone site containe the news feeds by id and It was used react to create the website.">
    <meta name="theme-color" content="#000000" />
    <meta name="author" content="Sathishkumar Raja" />
    <meta name=”robots” content=”index, follow”>
    <meta name="keywords" content="hackernews clone news feeds " />
    <meta name="copyright" content="@sat853 2020" />
    {{!-- Twitter Cards --}}
    <meta name="twitter:title" content="Hacker News Clone">
    <meta name="twitter:description"
        content="The Hacker News containe news feeds by id and It was use react to create the website.">
    <meta name="twitter:image" content="">
    <meta name="twitter:site" content="@sathishrpsg671">
    <meta name="twitter:creator" content="@sathishrpsg671">
    {{!--  Twitter Cards --}}

    {{!-- Open Graph Meta Tags  --}}
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Hacker News Clone" />
    <meta property="og:description"
        content="The Hacker News containe news feeds by id and It was use react to create the website.">
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="Hacker News Clone" />
    {{!-- Open Graph Meta Tags  --}}


    <link rel="canonical" href="" />

    <link rel="shortcut icon" type="image/png" href="https://news.ycombinator.com/favicon.ico" />
    <link rel="apple-touch-icon-precomposed"
        href="https://jayclouse.com/wp-content/uploads/2019/06/hacker_news-1000x525-1.jpg" />

    {{!-- Link tag for Bootstrap --}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
</head>


<body>
    {{{body}}}

    {{!-- Bootstrap necessary script tag --}}
    <script src="https://unpkg.com/react/umd/react.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom/umd/react-dom.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/react-bootstrap@next/dist/react-bootstrap.min.js" crossorigin></script>
</body>

</html>